.bosa-design-hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 54px;
    height: 100vh;
    max-width: 777px;
  }

  &__title {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 22px;
    &-big {
      font-weight: 700;
    }
  }

  &__descr {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    margin: 0;
    max-width: 582px;
  }
}


// адаптив
@media (max-width: 576px) {
  .bosa-design-hero__title {
    font-size: 35px;
    line-height: 40px;
    max-width: 400px;
  }
  .bosa-design-hero__descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    max-width: 473px;
  }
  .bosa-design-hero__wrapper {
    justify-content: center;
  }
}


@media (max-width: 400px) {
  .bosa-design-hero__title {
    font-size: 28px;
    line-height: 35px;
    max-width: 320px;
  }
  .bosa-design-hero__descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
  }
}
