.bosa-design-sostav {
  padding-top: 49px;
  padding-bottom: 31px;
  background: url(../img/sostav.jpg);
  background-size: cover;
  background-position: center;
  &__title {
    font-family: 'CeraPro';
    font-weight: 400;
    font-size: 46px;
    line-height: 130%;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 455px;
  }
  &__wrap {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
  &__content {
    padding: 18px 30px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(1px);
    border-radius: 18px;
    width: 50%;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    font-family: 'CeraPro';
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 12px;
  }
  &__item:last-child {
    padding-bottom: 0;
  }
  &__btn {
    display: block;
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(4px);
    border-radius: 305px;
    padding: 18px 59px;
    margin: 0 auto;
    margin-top: 51px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: #ffffff;
  }
}


// адаптив
@media (max-width: 1015px) {
  .bosa-design-sostav__wrap {
    gap: 20px;
  }
}

@media (max-width: 839px) {
  .bosa-design-sostav__wrap {
    flex-direction: column;
  }
  .bosa-design-sostav__content {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .bosa-design-sostav__title {
    font-size: 35px;
  }
  .bosa-design-sostav__btn {
    width: 100%;
  }
}
