.bosa-design-footer-cta {
  padding-top: 26px;
  padding-bottom: 33px;
  &__title {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 130%;
    text-transform: uppercase;
    color: #121212;
    padding-bottom: 33px;
    text-align: center;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-input {
    font-family: 'CeraPro';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: rgba(18, 18, 18, 0.6);
    width: 361px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 57px;
    margin-bottom: 23px;
    padding-left: 20px;
  }
  &__form-input:last-child {
    margin-bottom: 13px;
  }
  &__pol {
    font-family: 'CeraPro';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(18, 18, 18, 0.15);
    padding-bottom: 20px;
  }
  &__card-left {
    position: relative;
    width: 60%;
    justify-self: center;
  }
  &__card-right {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  &__card-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  &__card {
    position: relative;
  }
  &__bg {
    position: absolute;
    left: 0;
    bottom: -22px;
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 900;
    font-size: 166px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(18, 18, 18, 0.03);

  }
}



@media (max-width: 1784px) {
  .bosa-design-footer-cta__bg {
    bottom: -19px;
    font-size: 142px;
  }
}


@media (max-width: 1530px) {
  .bosa-design-footer-cta__bg {
    bottom: -14px;
    font-size: 109px;
  }
}

@media (max-width: 1174px) {
  .bosa-design-footer-cta__bg {
    bottom: -12px;
    font-size: 85px;
 }
}

@media (max-width: 932px) {
  .bosa-design-footer-cta__bg {
    bottom: -9px;
    font-size: 64px;
 }
}


@media (max-width: 860px) {
  .bosa-design-footer-cta__title {
    font-size: 35px;
 }
}




@media (max-width: 820px) {
  .bosa-design-footer-cta__card-left {
    position: relative;
    display: none;
  }
  .bosa-design-footer-cta__card-wrap {
    padding-bottom: 100px;
  }
  .bosa-design-footer-cta__bg {
    font-size: 144px;
  }
  .bosa-design-footer-cta__wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .bosa-design-footer-cta__card-right {
    position: relative;
  }
  .bosa-design-footer-cta__form-input {
    width: 100%;
  }
  .bosa-design-footer-cta .form__label {
    width: 100%;
  }
  .bosa-design-footer-cta .send__button-group {
    width: 100%;
  }
  .bosa-design-footer-cta__form-submit {
    width: 100%;
  }
}


@media (max-width: 784px) {
  .bosa-design-footer-cta__bg {
    bottom: -9px;
    font-size: 119px;
 }
}

@media (max-width: 664px) {
  .bosa-design-footer-cta__bg {
    bottom: -9px;
    font-size: 100px;
 }
}

@media (max-width: 562px) {
  .bosa-design-footer-cta__bg {
    bottom: -9px;
    font-size: 80px;
 }
}

@media (max-width: 456px) {
  .bosa-design-footer-cta__bg {
    bottom: -9px;
    font-size: 60px;
 }
}
