.bosa-design-step {
  background: url(../img/step-bg.jpg);
  background-size: cover;
  background-position: center;
  &__block {
    position: relative;
    padding-top: 62px;
    padding-bottom: 11px;
  }
  &__block::before {
    position: absolute;
    content: '';
    background: url(../img/line.svg);
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    height: 102%;
    width: 1px;
  }
  &__title {
    display: block;
    font-family: 'CeraPro';
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 18px;
  }
  &__subtitle {
    display: block;
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;

  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;
    padding-bottom: 72px;
    max-width: 460px;
    padding-left: 45px;
  }

}
// анимация
.bosa-design-step__pulse {
  position: absolute;
  left: -7px;
  top: 6px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #B6B6B6;
  border: 3px solid #70706F;
  cursor: pointer;
  box-shadow: 0 0 0 #70706F;
  animation: pulse 2s infinite;
  flex-shrink: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #1f1c1866;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #a79f9766;
    box-shadow: 0 0 0 0 #8d898166;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(119, 117, 110, 0);
      box-shadow: 0 0 0 10px rgba(112, 111, 107, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(131, 129, 124, 0);
      box-shadow: 0 0 0 0 rgba(110, 110, 107, 0);
  }
}

@media (max-width: 785px) {
  .bosa-design-step__right {
    display: none;
  }
}

