.style {
  &__top-card--1 {
    background: url(../img/style-top1.jpg);
    background-size: cover;
    background-position: center;
  }
  &__top-card--2 {
    background: url(../img/style-top2.jpg);
    background-size: cover;
    background-position: center;
  }
  &__top-card--3 {
    background: url(../img/style-top3.jpg);
    background-size: cover;
    background-position: center;
  }
  &__top-card--4 {
    background: url(../img/style-top4.jpg);
    background-size: cover;
    background-position: center;
  }
  &__bottom-card--1 {
    background: url(../img/style-bottom1.jpg);
    background-size: cover;
    background-position: center;
  }
  &__bottom-card--2 {
    background: url(../img/style-bottom2.jpg);
    background-size: cover;
    background-position: center;
  }
  &__bottom-card--3 {
    background: url(../img/style-bottom3.jpg);
    background-size: cover;
    background-position: center;
  }
  &__bottom-card--4 {
    background: url(../img/style-bottom4.jpg);
    background-size: cover;
    background-position: center;
  }
}
