<div class="bosa-design-step">
  <div class="container">
    <div class="bosa-design-step__block">
      <div class="bosa-design-step__wrap">
        <div class="bosa-design-step__left">
          <div class="bosa-design-step__item">
            <span class="bosa-design-step__pulse"></span>
            <span class="bosa-design-step__title">РАЗРАБОТКА ДИЗАЙНА ИНТЕРЬЕРА</span>
            <span class="bosa-design-step__subtitle">У нас достаточно работ, для того, чтобы взглянув на них
              вы смогли сказать – это мне подходит</span>
          </div>
          <div class="bosa-design-step__item">
            <span class="bosa-design-step__pulse"></span>
            <span class="bosa-design-step__title">ПРЕИМУЩЕСТВА РАБОТЫ С Bosa</span>
            <span class="bosa-design-step__subtitle">- Договор и финансовая отчётность</span>
            <span class="bosa-design-step__subtitle">- Персональный аккаунт-менеджер </span>
            <span class="bosa-design-step__subtitle">- Выезд дизайнера с заказчиком в магазины для подбора материалов </span>
            <span class="bosa-design-step__subtitle">- Согласование с УК и МЖИ инженерных проектов</span>
          </div>
          <div class="bosa-design-step__item">
            <span class="bosa-design-step__pulse"></span>
            <span class="bosa-design-step__title">РЕМОНТНЫЕ РАБОТЫ</span>
            <span class="bosa-design-step__subtitle">Стоимость работ по чистовой отделке в зависимости от дизайн-проекта комплектация объекта технический надзора</span>
          </div>
        </div>
        <div class="bosa-design-step__right">
          <img src="img/step-logo.svg" alt="Логотип">
        </div>
      </div>
    </div>
  </div>
</div>



