
<section class="bosa-cta-disign">
  <div class="container">
    <div class="bosa-cta-disign__wrap">
    <img class="bosa-cta-disign__img1" src="/img/dg1.png">
    <img class="bosa-cta-disign__img2" src="/img/dg2.png">
      <div class="bosa-cta-disign__content">
        <span class="bosa-cta-disign__title">Создайте индивидуальный интерьер под себя</span>
        <span class="bosa-cta-disign__subtitle">В котором удобно и комфортно жить </span>
        <span class="bosa-cta-disign__text">Пришлите нам план БТИ и мы сделаем вам 2 варианта планировочных решений бесплатно</span>
      </div>
      <form class="bosa-cta-disign__form form06"  method="post" id="form">
        <label class="form__label">
          <input class="send__data2 input-data06" data-validate-field="data" name="Раздел" type="hidden" value="2 варианта планировочных решений бесплатно">
        </label>
        <label class="form__label">
          <input class="bosa-cta-disign__form-input input-name06" placeholder="Введите ваше имя*" data-validate-field="name" name="Имя"
            type="text">
        </label>
        <label class="form__label">
          <input class="bosa-cta-disign__form-input input-tel06" placeholder="Номер WhatsApp**" data-validate-field="tel" name="Телефон"
            type="tel">
        </label>
        <div class="input-file-container">
          <input class="input-file" name="file[]" id="myfile" type="file">
          <label tabindex="0" for="my-file" class="input-file-trigger">Выберите файл</label>
          <p class="file-return"></p>
        </div>
        <div class="send__button-group">
          <input class="bosa-cta-disign__form-submit data-madal main-btn" value="Отправить" data-nametitle="Оставить заявку" type="submit">
        </div>
      </form>
    </div>
  </div>
</section>
