<section class="bosa-design-work">
  <div class="container">
    <div class="bosa-design-work__block">
      <div class="bosa-design-work__wrapper">
        <h3 class="bosa-design-work__title">
          Как мы работаем?
        </h3>
        <div class="bosa-design-work__timeline">
          <div class="bosa-design-work__item bosa-design-work__item--1">
            Обсуждаем объем работ в проекте, вы выбираете стиль
          </div>
          <div class="bosa-design-work__item bosa-design-work__item--2">

          </div>
          <div class="bosa-design-work__item bosa-design-work__item--3">
            На онлайн-встрече с дизайнером мы готовим техническое задание
          </div>
          <div class="bosa-design-work__item bosa-design-work__item--4">

          </div>
          <div class="bosa-design-work__item bosa-design-work__item--5">
            Мы приступаем к отделке, в самые короткие всё готово!
          </div>
          <div class="bosa-design-work__item bosa-design-work__item--6">

          </div>
          <div class="bosa-design-work__item bosa-design-work__item--7">
            Согласовываем и подписываем договор, готовим техническую часть
          </div>
          <div class="bosa-design-work__item bosa-design-work__item--8">

          </div>
          <div class="bosa-design-work__item bosa-design-work__item--9">
            Комплектуем проект, создаем 3D визуализацию
          </div>
          <div class="bosa-design-work__item bosa-design-work__item--10">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
