<section class="bosa-design-sostav">
  <div class="container">
    <h3 class="bosa-design-sostav__title">
      Что входит В состав проекта
    </h3>
    <div class="bosa-design-sostav__wrap">
      <div class="bosa-design-sostav__content bosa-design-sostav__left">
        <ul class="bosa-design-sostav__list">
          <li class="bosa-design-sostav__item">1. Обмерный план</li>
          <li class="bosa-design-sostav__item">2. Монтажные планы</li>
          <li class="bosa-design-sostav__item">3. Планировочное решение</li>
          <li class="bosa-design-sostav__item">4. План размещения электрооборудования</li>
          <li class="bosa-design-sostav__item">5. Схема теплых полов</li>
          <li class="bosa-design-sostav__item">6. Планы потолков</li>
          <li class="bosa-design-sostav__item">7. План напольных покрытий</li>
          <li class="bosa-design-sostav__item">8. Развертки стен</li>
        </ul>
      </div>
      <div class="bosa-design-sostav__content bosa-design-sostav__right">
        <ul class="bosa-design-sostav__list">
          <li class="bosa-design-sostav__item">9. Раскладка плитки</li>
          <li class="bosa-design-sostav__item">10. Сметы техники и мебели</li>
          <li class="bosa-design-sostav__item">11. Проектирование мебели и кухни</li>
          <li class="bosa-design-sostav__item">12. Согласование перепланировки в БТИ</li>
          <li class="bosa-design-sostav__item">13. Сметы и подбор отделочных материалов</li>
          <li class="bosa-design-sostav__item">14. Трёхмерная визуализация интерьера помещений</li>
          <li class="bosa-design-sostav__item">15. Полная комплектация интерьера, включая заказ, доставку</li>
          <li class="bosa-design-sostav__item">16. Сметы осветительных приборов и сантехнического оборудования</li>
        </ul>
      </div>
    </div>
    <button  class="bosa-design-sostav__btn">Заказать проект</button>
  </div>
</section>











