<div class="bosa-design-footer-cta">
  <div class="container">
    <div class="bosa-design-footer-cta__wrap">
      <div class="bosa-design-footer-cta__card-right">
        <img class="bosa-design-footer-cta__card-right1" src="img/bosa-design-footer-cta1.jpg">
        <img class="bosa-design-footer-cta__card-right2" src="img/bosa-design-footer-cta2.jpg">
        <img class="bosa-design-footer-cta__card-right3" src="img/bosa-design-footer-cta3.jpg">
        <img class="bosa-design-footer-cta__card-right4" src="img/bosa-design-footer-cta4.jpg">
      </div>
      <div class="bosa-design-footer-cta__card">
        <div class="bosa-design-footer-cta__bg">контакты</div>
        <div class="bosa-design-footer-cta__card-wrap">
          <div class="bosa-design-footer-cta__title">Обратная связь</div>
          <form class="bosa-design-footer-cta__form form05"  method="post" id="form">
            <label class="form__label">
              <input class="send__data2 input-data05" data-validate-field="data" name="Раздел" type="hidden" value="Обратная связь">
            </label>
            <label class="form__label">
              <input class="bosa-design-footer-cta__form-input input-name05" placeholder="Введите ваше имя*" data-validate-field="name" name="Имя"
                type="text">
            </label>
            <label class="form__label">
              <input class="bosa-design-footer-cta__form-input input-tel05" placeholder="Введите ваш номер*" data-validate-field="tel" name="Телефон"
                type="tel">
            </label>
            <label class="form__label">
              <input class="bosa-design-footer-cta__form-input input-sms05" placeholder="Сообщение" data-validate-field="text" name="Сообщение"
                type="text">
            </label>
            <p class="bosa-design-footer-cta__pol">Ввод номера телефона подтверждает ваше согласие <br>c условиями передачи информации</p>
            <div class="send__button-group">
              <input class="bosa-design-footer-cta__form-submit data-madal main-btn" value="Отправить сообщение" data-nametitle="Оставить заявку" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
