<section class="bosa-design">
  <div class="container">
    <div class="bosa-design__wrapper">
      <h2 class="bosa-design__wrapper-title">
        Bosa дизайн
      </h2>
      <p class="bosa-design__wrapper-descr">Это команда дизайнеров обеспечивающих каждый обьект всем необходимым. <br>
        Профессионалы, которые создают для вас удобное пространство продуманое до мелочей. <br>
        Мы работаем с 2013 года, постоянно посещаем выставки и мастер-классы от ведущих дизайнеров, <br>
        используем накопленный опыт на каждом обьекте, чтобы сделать лучшие проекты для Вас
      </p>
      <div class="bosa-design__cards">
        <div class="bosa-design__card">
          <img src="img/bosa-design-icon1.svg" alt="Иконка 1" class="bosa-design__card-img">
          <span class="bosa-design__card-title">1 000+ проектов</span>
          <span class="bosa-design__card-subtitle">Реализованно нашей командой.
            Разработали дизайн и сделали отделку</span>
        </div>
        <div class="bosa-design__card">
          <img src="img/bosa-design-icon2.svg" alt="Иконка 2" class="bosa-design__card-img">
          <span class="bosa-design__card-title">4,9/5</span>
          <span class="bosa-design__card-subtitle">Средняя оценка компании по отзывам реальных клиентов</span>
        </div>
        <div class="bosa-design__card">
          <img src="img/bosa-design-icon3.svg" alt="Иконка 3" class="bosa-design__card-img">
          <span class="bosa-design__card-title">Более 60</span>
          <span class="bosa-design__card-subtitle">Крупнейших компаний РФ - наши поставщики и партнеры</span>
        </div>
        <div class="bosa-design__card">
          <img src="img/bosa-design-icon4.svg" alt="Иконка 4" class="bosa-design__card-img">
          <span class="bosa-design__card-title">100%</span>
          <span class="bosa-design__card-subtitle">Гарантия результата и соблюдение сроков выполнения работ</span>
        </div>
      </div>
    </div>
  </div>
</section>
