<section class="bosa-design-wa">
  <div class="bosa-design-wa__bg">Оперативно</div>
  <div class="container">
    <div class="bosa-design-wa__wrap">
      <div class="bosa-design-wa__content">
        <div class="bosa-design-wa__title">Получить прайс-лист по whatsapp</div>
        <div class="bosa-design-wa__descr">Пришлем прайс-лист на Ваш вотсап в течение 5 минут</div>
        <button class="bosa-design-wa__btn">Получить</button>
      </div>
      <div class="bosa-design-wa__block-img">
        <img class="bosa-design-wa__img"src="img/bosa-design-wa.png" alt="Картинка">
      </div>
    </div>
  </div>
</section>
