<section class="bosa-design-dop">
  <h4 class="bosa-design-dop__title">Дополнительные опции</h4>
  <div class="bosa-design-dop__bg">Дополнительно</div>
  <!-- <div class="container"> -->
    <div class="bosa-design-dop__wrap">
      <img class="bosa-design-dop__img" src="img/step1.svg" alt="">
      <div class="bosa-design-dop__card bosa-design-dop__card--1"><span class="bosa-design-dop__text">Производство корпусной мебели</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--2"><span class="bosa-design-dop__text">Шторы</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--3"><span class="bosa-design-dop__text">Окна</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--4"><span class="bosa-design-dop__text">Ландшафтный дизайн</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--5"><span class="bosa-design-dop__text">Перегородки из стекла дерева и металла</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--6"><span class="bosa-design-dop__text">Проектирвоание домов</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--7"><span class="bosa-design-dop__text">Проекты ЭОМ ВК И Архитектрура</span></div>
      <div class="bosa-design-dop__card bosa-design-dop__card--8"><span class="bosa-design-dop__text">Вентиляция кондиционирование увлажнение</span></div>
    </div>
  <!-- </div> -->

</section>

