<section class="style">
  <div class="container">
    <div class="style__top">
      <div class="style__top-card style__top-card--1">
        <span class="style__title">Современная классика</span>
        <span class="style__subtitle">Актуальная классика соединяет общепринятые каноны, отличается строгостью, элегантностью, а главное, функциональностью.</span>
      </div>
      <div class="style__top-card style__top-card--2">
        <span class="style__title">Скандинавский стиль</span>
        <span class="style__subtitle">Атмосфера благополучия и умиротворенности создается за счет использования светлых теплых тонов и натуральных материалов.</span>
      </div>
      <div class="style__top-card style__top-card--3">
        <span class="style__title">Стиль лофт</span>
        <span class="style__subtitle">Изящная небрежность в интерьерах вашего дома. Стиль, вдохновленный художественными мастерскими Нью-Йорка.</span>
      </div>
      <div class="style__top-card style__top-card--4">
        <span class="style__title">Хай-тек</span>
        <span class="style__subtitle">Идеально подходит для молодых, целеустремленных, подвижных людей, которые следят за модой, любят технологичные вещи, функциональность пространства</span>
      </div>
    </div>
    <div class="style__bottom">
      <div class="style__bottom-card style__bottom-card--1">
        <span class="style__title">Авангард</span>
        <span class="style__subtitle">Простые текстуры, яркие красочные акценты и необычные формы, которые привносят в дизайн свежесть.</span>
      </div>
      <div class="style__bottom-card style__bottom-card--2">
        <span class="style__title">Неоклассицизм</span>
        <span class="style__subtitle">Утонченность приобретает новые, ярко-выраженные формы. Строгость классики здесь обыгрывается округлыми изящными формами.</span>
      </div>
      <div class="style__bottom-card style__bottom-card--3">
        <span class="style__title">Арт деко</span>
        <span class="style__subtitle">Высокие величественные колонны, строгая и богатая лепнина, золото, тяжелый текстиль, резные вычурные детали.</span>
      </div>
      <div class="style__bottom-card style__bottom-card--4">
        <span class="style__title">Прованс</span>
        <span class="style__subtitle">Стиль, воплотивший в себе дух подлинной Франции, эффектно прост и уютен. В нем гармонично сочетается неспешность жизненного уклада, присущего сельской глубинке, и изысканная естественность интерьера.</span>
      </div>
    </div>
  </div>
</section>
